:root{
    --aside_bg: #232A3A;
}

body{
    display: flex;
    margin: 0;
    color: #f1f1e6;
}

aside{
    background-color: var(--aside_bg);
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f1f1e6;
}

.logo_wrap{
    margin: 50px auto 20px;
    border: 2px solid #a5abbd;
    border-radius: 50%;
    overflow: hidden;
}

.logo_wrap img{
    width: 250px;
    height: 250px;
}

.title
{
    font-size: 1.75rem;
    font-weight: bold;
    color: #a5abbd;
    margin-bottom: .2rem;
}

.title:hover
{
    color: #f1f1e6;
    cursor: pointer;
}

.subtitle, .files_title
{
    color: #a5abbd;
}

.files_title{
    padding-left: 30px;
    background-image: url(../assets/folder.png);
    background-repeat: no-repeat;
    background-size: 24px;
}

.socials{
    display: flex;
    gap: 20px;
    margin: auto auto 50px;
    width: fit-content;
}

.socials img{
    width: 32px;
    height: 32px;
}

.main_wrap{
    background-color: #414756;
    width: 70%;
    box-sizing: border-box;
    padding: 50px;
}

.files_list{
    margin-left: 30px;
}

.files_list a{
    color: #00b1b9;
    text-decoration: none;
}

.files_list a:hover{
    text-decoration: underline;
}

.files_list a:visited{
    color: #66c2c8;
}

.intro{
    box-sizing: border-box;
    padding: 20px;
    background-color: var(--aside_bg);
    border-radius: 10px;
    max-width: 800px;
}